## Assignment-1

---------------------------------------------------------------

#### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

    *            : Expression(Mathematical operators)
    'hello'      : Value (String) 
    -87.8        : Value (Float)
    -            : Expression(Mathematical operators)
    /            : Expression(Mathematical operators)
    6            : Value (Integer)

----------------------------------------------------

#### 2. What is the difference between string and variable?

- Variable is a container/label which can store the value(data) and this data can be of int, float, str data-type.
- String is one of the datatype which is sequence of characters which represents a text (for eg: 'Data Science')

In [ ]:
name = "Thushanthan" ## here name is a variable and "Thushanthan" is a string
print(name)
print(type(name))

--------------------------------------------------------------

#### 3. Describe three different data types.

- Int   : Repersents the integer values (eg. a = 123, b = -421)
<br/><br/>
- float : Repersents the real numbers(floating point) (eg. c = 12.34, d = -3.69)
<br/><br/>
- string: Repersents the sequence of characters. Also the characters can be numbers, special character, and alphabates. (eg. s1 = "Thushanthan", s2 = "harithushan2@gmail.com")

---------------------------------------------------------

#### 4. What is an expression made up of? What do all expressions do?

- An expression in Python is any valid unit of code that returns a value. It can be a combination of values, variables, operators, and/or functions that can be evaluated to a single value
<br/><br/>
- Expression is used to produce some result or value.

---------------------------------------------------------

#### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

 - Assignment statement : A statement is  where some value or expression is assigned to a variable or constant.
 - The difference is that expression itself is assigned to a variable and expression is a sequence of operations. 
 <br/><br/>
  - Example: spam = 10 * 5
  - here " spam = 10 * 5 " is a assignment statement whereas the " 10 * 5" is an expression.

--------------------------------------------------

#### 6. After running the following code, what does the variable bacon contain?
bacon = 22
<br/>
bacon + 1

- Ans: bacon = 22 (stillthe changes valuse was not assigned to bacon so it remains same)

In [ ]:
bacon =22

In [ ]:
bacon + 1

23

In [ ]:
print(bacon)

22

---------------------------------------------------

#### 7. What should the values of the following two terms be?
'spam' + 'spamspam'<br/>
'spam' * 3

##### Ans: 
- 'spam' + 'spamspam' = 'spamspamspam'
- 'spam' * 3  = 'spamspamspam'

In [8]:
'spam' + 'spamspam'

'spamspamspam'

In [9]:
'spam' * 3

'spamspamspam'

----------------------------------------

#### 8. Why is eggs a valid variable name while 100 is invalid?

- A variable name must start with a alphabate or underscore '_'

-----------------------------------------

#### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

- Ans: Typecasting
- int    : int()
- float  : float()
- string : str()

In [ ]:
int(100.45)

12

In [ ]:
int("543546")

1234

In [ ]:
float(10)

123.0

In [16]:
str(12345)

'123'

In [ ]:
str(56 + 7thushan)

'(56+7j)'

-----------------------------------------------

#### 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

- Ans: concatanation operation between string and int is not possbile. it will throw an error
- To fix this error we can typecast the int value using str(99) or we can keep it as "99"/'99'

In [ ]:
## Error

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [ ]:
## solved

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'